#subhead{
    display: flex;
    gap: 40px;
    padding-top: 140px;
}
#subTextUm{
    width: 165px;
    height: 51px;
    font-size: 40px;
    background-color: var(--green);
    font-weight: 500;
}
#subTextDois{
    width: 580px;
    height: 46px;
    font-size: 18px;
}
@media (max-width: 566px) {
    #subTextUm{
        width: 125px;
        height: 39px;
        font-size: 30px;
    }
    #subTextDois{
        font-size: 14px;
}
}