#subheadCinco{
    display: flex;
    gap: 40px;
    padding-top: 140px;
}
#subCincoTextUm{
    display: inline-flex;
    font-size: 40px;
    background-color: var(--green);
    font-weight: 500;
    align-items: center;
}
#subCincoTextDois{
    width: 473px;
    font-size: 18px;
}
@media (max-width: 1040px) {
    #subCincoTextUm{
        font-size: 30px;
    }
    #subCincoTextDois{
        font-size: 13px;
        width: 375px;
    }
}
@media (max-width: 566px) {
    #subCincoTextUm{
        width: 125px;
        height: 39px;
        font-size: 30px;
    }
    #subCincoTextDois{
        font-size: 14px;
    }
}